@import "antd/dist/antd.css";

body{
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}
.margin--top{
  margin-top: 80px;
}
.spinner{
  margin: 80px 0;
  margin-bottom: 20px ;
  padding: 30px 50px;
  text-align: rgba(0,0,0,0.05);
  border-radius: 4px;
}
.spinner{
  background: rgba(255,255,255,0.08);
}
.alert-margin--top{
  margin-top: 100px;
}
.fluid-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.ant-layout {
  background: #fff !important;
}
.header .ant-anchor{
  display: flex;
}

.header .ant-anchor-ink {
  display: none;
}
.header .ant-anchor-link{
  padding: 0 20px;
  line-height: 1.4;
  position:relative;
}
.header .ant-anchor-link:before,
.header .ant-anchor-link:after {
  content: "";
  background: #1890ff;
  width: 1px;
}